/vendor
/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/public/hot
.dost-seeded
.DS_Store
Homestead.json
Homestead.yaml
auth.json
